@import "tailwindcss";

@font-face {
    font-family: "SeoulNamsanM";
    src: url("./assets/fonts/SeoulNamsanM.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SeoulNamsanB";
    src: url("./assets/fonts/SeoulNamsanB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "suite";
    src: url("./assets/fonts/Suite-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-SeoulNamsanM: "SeoulNamsanM", "monospace";
    --font-SeoulNamsanB: "SeoulNamsanB", "monospace";
    --font-suite: "suite", "nonospace";
}

html, body {
    color: white;
    background-color: #333333;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #565656;
}

/* custom CSS */

.sidebar:hover {
    box-shadow: 20px 1px 56px 7px rgba(42, 42, 42, 0.76);
}

.form_last_button {
    transition: all .15s ease-in-out;
    background: linear-gradient(132deg,rgba(0, 61, 37, 1) 0%, rgba(38, 150, 126, 1) 81%, rgba(18, 89, 115, 1) 100%);
}

.form_last_button:hover {
    box-shadow: -1px 1px 19px 0 rgba(14,62,186,0.75);
}